
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "FELS", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <% if signed_in? %>

          <li class="gravatar-header"><%= gravatar_for @user, size: 50 %> <%= @user.name %></li>
          <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
          <% else %>
            <li> <%= link_to "Home", root_path %></li>
            <li> <%= link_to "Sign up", signup_path %></li>
            <li> <%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
