<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li><%= link_to "Home", root_path, "data-toggle" => :tab %></li>
    <li><%= link_to "Word List", words_path %></li>
    <li><%= link_to "Category", categories_path, id: "Category" %></li>

    <li><%= link_to "Lesson", lessons_path %></li>
    <li><%= link_to "Result", "#" %></li>
    <li><%= link_to "User Show", "#" %></li>
  </ul>
</div>
