<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li><%= link_to "Home", root_path%></li>
    <li><%= link_to "Word List", words_path %></li>
    <li id="Category"><%= link_to "Category", categories_path %></li>

    <li><%= link_to "Lesson", lessons_path %></li>
    <li><%= link_to "Result", results_path %></li>
    <li><%= link_to "User Show", activities_path %></li>
  </ul>
</div>
